# ADPM CLI/runtime configuration (YAML syntax).
database: ~/.local/share/adpm
prefix: ~/.local

defaults:
  build:
    compress: bzip2
    detect_dependencies: false
    relocate: false
  install:
    verify: false
